body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.table_container {
    overflow-x: auto;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
}

th,
td {
    padding: 10px;
    text-align: center;
}

thead th{
    background-color: #6131ff;
}

tbody tr:nth-child(even) td {
    background-color: #648fdf;
}

tbody tr:nth-child(odd) td {
    background-color: #aecce6;
}

tbody td:first-child {
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: 1;
}

th,
td {
    border: 1px solid #ccc;
}

